<section class="container">
    <div class="row">
        <div class="col">
            <img class="burger-img" alt="burger clipart" src="assets/img/burger.png" width="200" height="200" />
            <h1 class="header">Eat-Da-Burger!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="burger-headers">Burgers To Eat!</p>
              <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <li>{{name}}<button class="change-devour" data-id={{id}}>Devour</button></li>
                    {{/unless}}
                {{/each}}
              </ul>
        </div>
        <div class="col-5">
            <p class="burger-headers">Burgers Devoured!</p>
            <ul class="devoured">
                {{#each burgers}}
                    {{#if devoured}}
                        <li>{{name}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</section>    
<section class="container2">    
    <div class="row">
      <div class="vertical-center">
        <form class="create-form">
            <div class="form-group">
              <input type="text" id="bu" name="name">
            </div>
            <button type="submit" class="btn-dark">Submit</button>
            <p>Enter a burger you want to eat. Click the "Submit" button.</p>
        </form>
      </div>
    </div>
</section>